alfred-pyflow==0.4.7 ; python_version >= "3.8" and python_version < "3.12"
black==24.4.2 ; python_version >= "3.8" and python_version < "3.12"
certifi==2024.7.4 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Windows"
idna==3.7 ; python_version >= "3.8" and python_version < "3.12"
lorem-text==2.1 ; python_version >= "3.8" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.8" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "3.12"
platformdirs==4.2.2 ; python_version >= "3.8" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.8" and python_version < "3.12"
stringcase==1.2.0 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.8" and python_version < "3.12"
